@import "@styles/colors.scss";

.multidropdown {
	position: relative;

	.field {
		background: #ffffff;
		border: 0.5px solid $border;
		border-radius: 12px;
		box-sizing: border-box;
		padding: 5px 9px 5px 8px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		cursor: pointer;

		&:focus {
			border-color: $text_secondary;
		}

		&_disabled {
			color: $text_secondary;
			background: #f8f9fa;
			cursor: initial;

			&:focus {
				border-color: $border;
				cursor: initial;
			}
		}
	}

	.text {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;
		width: 76%;
		text-align: start;
		margin: 0px;
		font-family: "Circular Std";
		font-weight: 450;
		font-size: 12px;
		line-height: 15px;
		color: #343a40;

		&_placeholder {
			color: $text_secondary;
		}
	}

	.btn {
		background: none;
		border: none;
		padding: 0px;
		& svg {
			vertical-align: middle;
		}
	}

	.list {
		background: #ffffff;
		border: 0.5px solid #dfe2e4;
		border-radius: 12px;
		list-style: none;
		padding: 0px;
		overflow: hidden;
		position: absolute;
		left: 0px;
		top: 31px;
		width: 100%;
		margin: 0px;
	}
}
