.list {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.finance {
		display: flex;
		flex-direction: column;
		gap: 5px;
		.price {
			text-align: end;
			font-family: "Circular Std";
			font-weight: 450;
			font-size: 16px;
			line-height: 20px;
			color: #343a40;
			&_change {
				font-weight: 500;
				font-size: 10px;
				line-height: 13px;
				color: #21bf73;
				&_red {
					color: red;
				}
			}
		}
	}
}
