@import "@styles/colors.scss";

.wrapper {
	background: #f8f9fa;
	min-height: 100vh;
}

.header {
	display: flex;
	gap: 10px;
	padding-top: 17px;
	padding-bottom: 17px;

	.button {
		padding: 0px;
		width: 40px;
		height: 40px;
	}
	.icon {
		display: block;
		width: 20px;
		height: 20px;
		margin: 10px;
	}
}

.main {
	width: 100%;
	.control {
		margin-bottom: 15px;
		border-bottom: 1px solid $border;
		.block {
			display: flex;
			gap: 69px;
			margin-bottom: 24px;

			.text {
				font-family: "Circular Std";
				font-weight: 500;
				font-size: 18px;
				line-height: 23px;
				color: #000000;
			}

			& div {
				flex-grow: 2;
			}
		}
	}
	.content {
		padding-bottom: 20px;
	}
}
