.list {
	.item {
		display: flex;
		justify-content: space-between;
		padding: 11px 0px;
		border-bottom: 1px solid #dfe2e4;
	}
	.text {
		font-weight: 450;
		font-size: 14px;
		line-height: 18px;
		color: #212529;

		&_grey {
			color: #6c757d;
		}
	}
}
