.button {
  background: #dfe2e4;
  border-radius: 6px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #343a40;
  box-sizing: border-box;
  border: none;
  height: 34px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: end;

  &:hover:enabled {
    opacity: 0.5;
  }

  &_disabled {
    opacity: 0.3;
    cursor: initial;
  }

  &__loader {
    margin-right: 4px;
    border-width: 3px !important;
  }
}
