.filter {
	font-family: "Circular Std";
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #6c757d;
	padding-bottom: 1px;
	&_active {
		color: #0063f5;
		border-bottom: 3px solid #0063f5;
	}
}
